*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

p{
    color: blue;
      text-align:center;
}
h1{
    color: blue;text-align: center;font-size:100px;
}
#om{
    color:green;
}
.team{
    color:purple;
}
h2{
    color:red; text-align:center; font-size:50px;
}

h1:hover{
    color:orange;
    font-weight:400;
}
p,h1,h2:hover{
    color:black;
    text-align:center;
}
body{
    background-color:lightblue;
}